*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
a{
    color: white;
}
body {
    background-color: #f5ce21de;
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    width:auto;
    height:auto;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    padding: 20px;
}
.title{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.input-box{
    margin: 20px;
}
.input-box input{
    padding: 10px;
    padding-inline: 30px;
    border-radius: 10px;
    border-color: #f5ce21;
    border-style: none;
    box-shadow: 1px 2px 6px rgba(0,0,0, .212);
    outline: none;
}

.continue-button{
    align-items: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: #65963e;
    padding-inline: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-style: none;
    color: white;
    font-size: 13px;
    border-radius: 13px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.continue-button input{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
}
.back{
    font-size: 12px;
    opacity: 0.4;
    text-align: right;
    margin-top: 10px;
}
.back a{
    text-decoration: none;
    color:#65963e;
}
.back a:hover{
    color: #436429;
    transition: 0.4s;
}
