*{
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    background: #f5ce21de;
    width: 100%;
    height: 100vh;
}
.title{
    color: rgb(255, 255, 255);
    margin-top: 15px;
    text-align: center;
}

img{
    width: 280px;
    border-radius: 13px;
}
.container{
    background-color: #fff;
    border-radius: 13px;
    margin-bottom: 20px;
}

  /* Float four columns side by side */
  .column {
    float: left;
    width: 20%;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 14px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 13px;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  hr{
    width: 30%;
    margin: auto;
    color: #ffffff;
    border: 1px #fff solid;
    }

button{
    background: #f5ce21 !important; 
}
.btn button{
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ;
}
.btn button:hover{
    transform: scale(0.9);
}