*{
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background: #f5ce21de;
    width: 100%;
    height: 100vh;
}

.bt-evento {
  margin-top: 30px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
	color: #ffd33d;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	position: absolute;
	right: 30px;
	top: 5px;
}

.title{
    color: rgb(255, 255, 255);
    margin-top: 15px;
    text-align: center;
}

img{
    width: 280px;
    border-radius: 13px;
}
.container{
    background-color: #fff;
    border-radius: 13px;
    padding: 20px;
    margin: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}
  
  /* Style the counter cards */
  .card {
	width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 14px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 13px;
  }
  
  hr{
    width: 30%;
    margin: auto;
    color: #ffffff;
    border: 1px #fff solid;
    }

button{
    background: #f5ce21 !important; 
}
.btn button{
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ;
}
.btn button:hover{
    transform: scale(0.9);
}

@media (max-width:1050px) {
  .bt-evento{
    margin-top: 34px;
    width: 25px;
    height: 25px;
  }
  .row{
    flex-direction: column;
  }
  .card img{
    width: 90%;
  }
  .card{
    width: 100%;

  }
}


.open{
  cursor: pointer;
  background-color: brown;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 10px 25px; 
  border: 0;
  color: white;
  font-size: 15px;
}
label{
  text-align: center;
}

.popup-container{
  pointer-events: none;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}
.popup-container.show{
  pointer-events: auto;
  opacity: 1;
}

.popup-open{
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 900px;
  height: 700px;
  max-width: 80%;
  padding: 80px;
  border-radius: 10px;
}
.title{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  color: white;
}
.input-box{
  margin: 10px;
}
.input-box input{
  margin: 0;
  font-size: 15px;
  width: 100%;
  padding: 13px;
  border-radius: 10px;
  border-color: #f5ce21;
  border-style: none;
  box-shadow: 1px 2px 6px rgba(0,0,0, .212);
  outline: none;
}
.continue-button{
align-items: center;
display: flex;
justify-content: center;
margin-top: 100px;
background-color: #65963e;
padding-inline: 25px;
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
border-style: none;
color: white;
font-size: 13px;
border-radius: 7px;
cursor: pointer;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.continue-button input{
background-color: transparent;
border: none;
color: white;
font-weight: 600;
}
.back{
  font-size: 13px;
  opacity: 0.4;
  text-align: right;
  margin-top: 10px;
}
.back a{
  text-decoration: none;
  color:#65963e;
}
.back a:hover{
  color: #436429;
  transition: 0.4s;
}
.title-popup{
  color: black;
}