*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body{
	scroll-behavior: smooth;
	background: #fff;
}
/*--------Topo--------*/
.topo{
	width: 100%;
	min-height: 12vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #f5ce21;
}
.topo #logo{
	width: 13%;
}
.topo .wiki{
	border-radius: 10px;
	border: none;
	min-height: 6vh;
	width: 40%;
	background: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.topo .wiki img {
	height: 3vh;
	margin-left: 10px;
	margin-right: 10px;
}
.topo .wiki input {
	height: 4vh;
	width: 85%;
	border: none;
	outline: none;
}
.topo .bt-evento {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
	color: #ffd33d;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	cursor: pointer;
}
/*--------Corpo--------*/
.corpo {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 250px;
	transition: 1s;
}
.corpo .link {
	width: 88%;
	padding-top: 50px;
	margin-bottom: 40px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.link:hover > #seta {
	transform: scale(1.1);
}
.corpo h2 {
	text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}
.corpo #seta {
    width: 20px;
}
.corpo .container {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card .img {
	margin-bottom: 5px;
	width: 400px;
	height: 200px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.card .apae {
	background-image: linear-gradient(rgb(30,28,4,0.7),rgb(30,30,4,0.4)),url(../img/APAE2.png);
	background-position: center;
}
.card .cdc {
	background-image: linear-gradient(rgb(30,28,4,0.7),rgb(30,30,4,0.4)),url(../img/cdc.png);
	background-position: center;
}
.card .conviver {
	background-image: linear-gradient(rgb(30,28,4,0.7),rgb(30,30,4,0.4)),url(../img/conviver.png);
	background-position: center;
}
.card .ista {
	background-image: linear-gradient(rgb(30,28,4,0.7),rgb(30,30,4,0.4)),url(../img/ista.png);
	background-size: 500px;
	background-position: center;
}
.card .livp {
	background-image: linear-gradient(rgb(30,28,4,0.7),rgb(30,30,4,0.4)),url(../img/livp.png);
	background-size: 500px;
	background-position: center;
}
.card .le {
	background-image: linear-gradient(rgb(30,28,4,0.7),rgb(30,30,4,0.4)),url(../img/le.png);
	background-size: 500px;
	background-position: center;
}
.card .amais {
	background-image: linear-gradient(rgb(30,28,4,0.7),rgb(30,30,4,0.4)),url(../img/amais.png);
	background-size: 500px;
	background-position: center;
}
.card .descrição {
	display: flex;
	align-items: center;
}
.descrição h3 {
	padding-left: 10px;
	text-transform: uppercase;
}
.descrição p {
	font-size: 11px;
	padding-left: 8px;
}
.descrição img {
	width: 10px;
}
/*--------Footer--------*/
footer{
    background-color: black;
    padding: 50px 0;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #f5ce21;
}

.footer-bottom{
    display: inline-block;
    width: 100%;
    background: #000;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #fff;
}
hr{
    width: 50%;
    margin: auto;
    color: #f5ce21;
    border-top: #f5ce21 ;
}
.btn-inst button{
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ;
    margin-top: 2%;
}
::-webkit-scrollbar{
    width: 0px;
}


.btn-inst button:hover{
    transform: scale(0.9);
}
@media(max-width: 600px) { 
    .slider{
        display: none;
    }
    .main{
        display: block;
        text-align: center;
    }
    .about-text{
        font-size: 30%;
        width: 60%;
        justify-content: center;
        align-items: center;
        margin:auto;
    }
    .slider .card{
        padding: 0%;
        margin: 0 0px;
        display: none;
    }
    .btn-inst button{
        margin-top: 10%;
    }
}

/*-----Sections  das instituições-----*/

.z{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #f5ce21;
}
.z .banner {
	width: 100%
}
