		*{
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: 'Poppins', sans-serif;
		}
		
		body {
			background-color: #fff3f3;
			width: 100%;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.container {
			width: 90%;
			height: 90vh;
			display: flex;
			box-shadow: 5px 5px 10px rgba(0,0,0, .212);
		}
		
		.form {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: #fff;
		}
		.form-header {
			margin-bottom: 1rem;
			display: flex;
			justify-content: space-between;
		}
		
		.login-button {
			display: flex;
			align-items: center;
		}
		
		.login-button button, .continue-button input {
			border: none;
			background-color: #f5ce21;
			padding: 0.4rem 1rem;
			border-radius: 5px;
			cursor: pointer;
		}
		
		.login-button button:hover, .continue-button input:hover {
			background-color: #f5ce21de;
		}
		
		.login-button button a {
			text-decoration: none;
			font-weight: 500;
			color: #fff;
		}
		
		.form-header h1::after {
			content: '';
			width: 0%;
			height: 2px;
			background: #f5ce21;
			display: block;
			margin: auto;
			transition: 0.4s;
		}
		
		.form-header h1:hover::after {
			width: 100%;
		}
		
		.input-box {
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;
		}
		
		.input-box input {
			margin: 0.05rem 0;
			border: none;
			padding: 0.2rem;
			border-radius: 2px;
			box-shadow: -1px 1px 6px #0000004f;
		}
		
		.input-box input:hover {
			background-color: #eeeeee45;
		}
		
		.input-box input:focus-visible {
			outline: 1px solid #f5ce21;
		}
		
		.input-box label,
		.gender-title h6 {
			font-size: 0.75rem;
			font-weight: 600;
			color: #000000c0;
		}
		
		.input-box input::placeholder {
			color: #000000be;
		}
		
		/**/