*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    place-items: center;
    text-align: center;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/cacapava.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 25vh;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f5ce21;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f5ce21;
    background: #f5ce21;
    transition: 1s;
}

.profile img{
    width: 25px;
}

nav .fa{
    display: none;
}

@media(max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        display: none;
        position: absolute;
        background: #f5ce21;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*----- lugares -----*/

.lugares{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.lugar-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.lugar-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

button {
   background: #f5ce21 !important; 
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*------- fotos ----*/

.fotos{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.fotos-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.fotos-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*------- beneficios ------------*/

.beneficios{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.beneficios-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.beneficios-col img{
    width: 100%;
    border-radius: 10px;
}
.beneficios-col p{
    padding: 0;
}
.beneficios-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*-------- sobre ---------*/
.about{
    width: 100%;
    padding: 78px 0px;
}
.about img{
    height: auto;
    width: 200px;
    border-radius: 6%;
}
.about-text{
    width: 50%;
}
.main{
    text-align: left;
    font-size: auto;
    width: 930px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #f5ce21;
}
.about-text p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
footer{
    background-color: black;
    padding: 50px 0;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #f5ce21;
}

.footer-bottom{
    display: inline-block;
    width: 100%;
    background: #000;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #fff;
}
.slider{
    margin-top: 20px;
    max-width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.slider .card{
    background: white;
    flex: 1;
    margin: 0 20px;
    border-radius: 20px;
}
.slider .card img{
    height: 200px;
    width: 100%;
}
.slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.slider .card .content{
    padding: 10px 20px;
}
.card .content .title{
    font-size: 25px;
    font-weight: 600;
}
.card .content .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #1b5713;
    line-height: 20px;
}
.card .content p{
    text-align: justify;
    margin: 10px 0;
}
.card .content .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
}
.card .content .btn button{
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ;
}
.card .content .btn button:hover{
    transform: scale(0.9);
}
hr{
    width: 50%;
    margin: auto;
    color: #f5ce21;
    border-top: #f5ce21 ;
}
.btn-inst button{
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ;
    margin-top: 2%;
}
.btn-inst button:hover{
    transform: scale(0.9);
}
@media(max-width: 750px) { 
    .slider{
        display: none;
    }
    .fotos-col {
        width: 50%;
        height: 50%;
        justify-content: center;
        align-items: center;
        margin:auto;
    }
    .main{
        display: block;
        text-align: center;
    }
    .about-text{
        font-size: 30%;
        width: 60%;
        justify-content: center;
        align-items: center;
        margin:auto;
    }
    .slider .card{
        padding: 0%;
        margin: 0 0px;
        display: none;
    }
    .btn-inst button{
        margin-top: 10%;
    }
}
